body, html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  /* opacity: 0.5; */
}

section {
  display: block;
}

/**
=================
  Header Section
=================
**/

.header {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.img-responsive {
  width: 95px;
  height: 62px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.navbar {
  margin-right: 5vw;
  margin-left: 5vw;
  position: fixed;
  top: 0;
  width: 90vw;
  z-index: 200;
  height: 80px;
  background-color: #19242D;
  transition: height 0.3s linear;
  -moz-box-shadow: 0px 1px 5px 1px gray;
  -webkit-box-shadow: 0px 1px 5px 1px gray;
  box-shadow: 0px 1px 5px 1px gray;
}

.sticky-navbar {
  background-color: #19242D;
  height: 70px;
}

.navbar-nav .nav-item a {
  background-color: transparent;
  text-decoration: none;
  font-family: 'Domine', serif;
  font-size: 1.1vw;
  text-transform: uppercase;
  margin-left: 20px;
  color: #B19344;
  display: inline-block;
  position: relative;
  transition: all .4s ease-in-out;
}

.navbar-nav .nav-item a:before {
  content: '';
  width: 0px;
  height: 1px;
  background: #B19344;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all .5s ease-in-out;
}

.navbar-nav li:hover a:before {
  width: 100%;
}

.navbar-toggler {
  height: 800px;
}

.header-img-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: blue;
}

.header-img {
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") no-repeat fixed;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.header-info-container {
  position: absolute;
  width: 70vw;
  background-color: #F0F0EF;
  right: 15vw;
  left: 15vw;
  z-index: 2;
  top: 69vh;
  height: 83vh;
}

.header-info {
  height: 100%;
  width: 100%;
  text-align: center;
}

.header-text {
  position: absolute;
}

.header-title-text {
  font-family: 'Satisfy', cursive;
  font-size: 4vw;
  margin-bottom: 15px;
}

.header-subtext {
  font-family: 'Catamaran', sans-serif;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 1.3vw;
}

.description {
  position: relative;
  top: 32%;
  margin: 5%;
  height: 40%;
  /* border: 3px solid blue; */
}

.description-elem {
  height: 100%;
  text-align: center;
}

.description-icon {
  width: 60%;
  height: 60%;
  margin-bottom: 5%;
}

.description-elem p {
  text-align: center;
  font-size: 12px;
}

.login-reg {
  position: absolute;
  bottom: 9.5%;
  right: 37.1%;
  left: 37.1%;
  margin: 0;
  padding: 0;
}

.login-reg ul {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  border: 1px solid #19242D;
}

.login-reg ul li {
    list-style: none;
}

.login-reg ul li a {
  color: #19242D;
  position: relative;
  z-index: 2;
  display: block;
  width: 9vw;
  height: 6vh;
  text-align: center;
  line-height: 6vh;
  font-size: 1.2vw;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Domine', serif;
  letter-spacing: 2px;
  overflow: hidden;
  transition: .5s;
}

.login-reg ul li a:hover {
  color: white;
}

.login-reg ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #19242D;
  z-index: -1;
  transition: .5s;
}

.login-reg ul li:nth-child(odd) a:before {
  right: -100%;
}

.login-reg ul li:nth-child(even) a:before {
  left: -100%;
}

.login-reg ul li:nth-child(odd) a:hover:before {
  right: 0%;
}

.login-reg ul li:nth-child(even) a:hover:before {
  left: 0%;
}

/**
=================
  About Section
=================
**/

.search {
  position: relative;
  top: 70vh;
  height: 70vh;
  width: 100vw;
}

.search-bg-panel {
  height: 78.6%;
  width: 100%;
  background-color: #B19344;
  position: absolute;
  z-index: 1;
}

.search-container {
  position: absolute;
  bottom: 0vh;
  left: 5%;
  width: 50%;
  height: 85.7%;
  z-index: 2;
  background-color: #F0F0EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-text {
  font-family: 'Domine', serif;
  font-size: 2.5em;
  text-align: center;
  color: #19242D;
}

.expanding-search-form {
  display: flex;
  margin-top: 5%;
  width: 50%;
  border: 1px solid #19242D;
  color: #19242D;
  padding: 2px;
  border-radius: 50px;
  transition: width 0.3s linear;
}

.dropdown {
  position: relative;
  width: 180px;
  background-color: #4488aa;
  border-radius: 50px;
  top: 3%;
  left: 0.15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropdownMenuLink {
  font-size: 1vw;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.dropdown-menu {
  background-color: #4488aa;
}

.dropdown-item {
  font-size: 13px;
  transition: color 0.25s linear;
}

.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active {
  background-color: transparent;
  color: white;
}

.search-input, .search-button {
  text-align: center;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #19242D;
}

.search-input {
  width: 60%;
  /* border: 3px solid blue; */
}

.search-button {
  /* position: relative; */
  /* background-color: white; */
  width: 40px;
  height: 40px;
  border-radius: 40px;
  /* top: 1.5px;
  right: 3px; */
}

/* .search-icon {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 3px solid green;
  display: block;
  position: relative;
} */

/**
=================
  Featured Section
=================
**/

.featured-grid {
  position: relative;
  top: 80vh;
  width: 95vw;
  left: 4vw;
}

.featured-heading {
  position: relative;
  width: 30vw;
  left: 57%;
}

.line {
  height: 0px;
  background-color: #19242D;
  width: 2px;
  position: absolute;
  transition: height 0.5s ease-out;
}

.featured-label {
  position: relative;
  height: 20vh;
  width: 30vw;
  top: 9vh;
  left: 5vw;
  font-family: 'Domine', serif;
  color: #19242D;
  font-size: 2.5em;
}

.featured {
  width: 80%;
}

.grid-layout {
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
}

.grid-item {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
  -moz-box-shadow: 0px 1px 5px 1px gainsboro;
  -webkit-box-shadow: 0px 1px 5px 1px gainsboro;
  box-shadow: 0px 1px 5px 1px gainsboro;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 7%;
  background-color: transparent;
  transition: all 1s;
  color: #19242D;
}

.grid-item:hover {
  background-color: #19242D;
  opacity: 0.4;
  color: white;
}

.grid-item-labels {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #B19344;
}

.label {
  margin-right: 3px;
}

.span-2 .grid-item-icon {
  width: 75px;
  height: 75px;
  position: relative;
  left: 35%;
  /* border: 3px solid blue; */
  background: url("")
}

.grid-item-title {
  font-family: 'Domine', serif;
  font-size: 2.5em;
  margin-top: 3%;
  margin-bottom: 5%;
}

.grid-item-content {
  font-size: 14px;
}

.span-2 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

.featured-row {
  margin-top: 20vh;
}

.span-label {
  position: relative;
  grid-column-end: span 1;
  grid-row-end: span 3;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Great Vibes', cursive;
  font-size: 19em;
  color: #B19344;
  left: 9.5vw;
  top: 35vh;
  opacity: 0.6;
  transform: rotate(-90deg);
}

.spin-label.right {
  float: right;
}

#featured-colleges {
  font-size: 15em;
  float: right;
}

#featured-universities {
  float: left;
  top: 70%;
  font-size: 15em;
}

#featured-consultants {
  position: relative;
  font-size: 7em;
  height: 300px;
  width: 1000px;
  left: -400px;
  bottom: -100px;
  top: 50px;
}

.span-2-5 {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.ads {
  position: relative;
  top: 20vw;
}

.ad {
  margin-bottom: 5vh;
}

/**
=====================
  Why Edhub Section
=====================
**/

#whyEduhub {
  position: relative;
  top: 100vh;
  height: 150vh;
  width: 100vw;
}

.students-parents, .schools {
  height: 50%;
  width: 100%;
}

.students-parents-img {
  background: url("https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.schools-img {
  background: url("../public/images/paperwork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.students-parents-content, .schools-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #F0F0EF;
  z-index: 1;
}

.heading {
  font-family: 'Domine', serif;
  margin: 5%;
  font-size: 2.5em;
  color: #19242D;
}

.content {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.1em;
  color: gray;
}

.redirect {
  margin-top: 3%;
  padding: 15px;
  border-radius: 25px;
  color: #fff;
}

.fa-arrow-right {
  margin-left: 10px;
}

.fa-arrow-left {
  margin-right: 10px;
}

/**
=====================
  Contact Section
=====================
**/

.contact {
  position: relative;
  display: block;
  top: 120vh;
  margin-bottom: 5vh;
  height: 100vh;
}

.bg-text-large {
  font-family: 'Great Vibes', cursive;
  width: 50vw;
  z-index: 3;
  color: #B19344;
  height: 42vh;
  padding: 0;
  font-size: 17vw;
}

#contact-bg {
  opacity: 0.5;
}

.map-container {
  height: 700px;
  width: 500px;
  position: absolute;
  z-index: 1;
  left: 12vw;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  border-radius: 5px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  opacity: 0.5;
  z-index: 2;
}

@keyframes fade {
  from { opacity: 0; }
}

.blinking {
  animation: fade 0.5s infinite alternate;
}

.contact-content {
  position: absolute;
  z-index: 2;
  right: 6vw;
}

.contact-form {
  position: absolute;
  left: 6vw;
  z-index: 1;
  /* right: 0; */
  height: 60vh;
  width: 35vw;
}

.form-control {
  border-radius: 15px;
  border: none;
  -moz-box-shadow: 0px 1px 2px 1px gainsboro;
  -webkit-box-shadow: 0px 2px 1px 1px gainsboro;
  box-shadow: 0px 1px 2px 1px gainsboro;
}

.btn {
  background-color: #4488aa;
  border: none;
  border-radius: 10px;
  -moz-box-shadow: 0px 1px 2px 1px gainsboro;
  -webkit-box-shadow: 0px 2px 1px 1px gainsboro;
  box-shadow: 0px 1px 2px 1px gainsboro;
}

/**
=====================
  Footer Section
=====================
**/

.footer {
  position: relative;
  bottom: 0;
  display: block;
  top: 140vh;
  width: 100vw;
  height: 80vh;
  background-color: #F0F0EF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  position: absolute;
}

.footer-bg-text {
  color: white;
  font-family: 'Domine', serif;
  font-size: 15vw;
  opacity: 0.6;
  z-index: 1;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-content .left {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* border: 3px solid blue; */
}

 .footer-content .right {
   /* border: 3px solid red; */
 }

@media only screen and (max-width: 900px) {
  .header {
    margin-top: 0;
  }

  .featured {
    width: 100%;
  }

  .ads {
    display: none;
  }

  .span-label {
    transform: rotate(0deg);
    display: block;
    top: 0;
  }
}

@media only screen and (max-width: 550px) {

  .span-2 {
    grid-column-end: span 3;
    grid-row-end: span 2;
  }

}
